# Core RL Libraries
stable-baselines3==2.3.0
gymnasium==0.29.1
highway-env==1.9.1

# Numerical Computing
numpy<2
torch==2.1.1

# Utilities
opencv-python==4.8.1.78
imageio==2.33.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3

# Development & Logging
python-dotenv==1.0.0
tensorboard==2.15.1
tqdm==4.66.1
rich==13.7.0
